@use 'sass:map';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$width: 15rem;
$collapsedWidth: 3rem;

$mobile-max-width: breakpoint-max('md');
$desktop-min-width: breakpoint-min('md');