# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        project: [ frontend, backend ]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }} to build ${{ matrix.project }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    - run: npm ci
      working-directory: ${{ matrix.project }}
    - run: npm run setup --if-present
      working-directory: ${{ matrix.project }}
    - run: npm run build
      working-directory: ${{ matrix.project }}
    - run: npm test --if-present
      working-directory: ${{ matrix.project }}
    - run: npm run test:unit --if-present
      working-directory: ${{ matrix.project }}

